@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

.scroll-hide::-webkit-scrollbar {
  display: none;
}
.scroll-hide {
  -ms-overflow-style: none; 
  scrollbar-width: none;   
}

.answer p {
  margin-bottom: 0.75rem;
}